<!doctype html>
<html lang="en">

<head>

    <!-- Webpage Title -->
    <title>Word Analyzer!</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $('#fileDisplayArea').html('');
            listing();
        });

        function readFile(input) {
            let file = input.files[0];

            let reader = new FileReader();

            reader.readAsText(file);
            // let texts = $('#fileDisplayArea').val();

            reader.onload = function () {
                let texts = console.log(stripHtml(reader.result));
                // posting(texts);
                // $.ajax({
                //     type: "POST", // POST 방식으로 요청하겠다.
                //     url: "/words", // /words라는 url에 요청하겠다.
                //     data: { 'write_text': texts }, // 데이터를 주는 방법
                //     success: function (response) { // 성공하면
                //         if (response['result'] == 'success') {
                //             listing(texts)
                //         }
                //     }
                // })
            };

            reader.onerror = function () {
                console.log(reader.error);
            };

        }

        window.onload = function () {
            var fileInput = document.getElementById('myfile');
            var fileDisplayArea = document.getElementById('fileDisplayArea');

            fileInput.addEventListener('change', function (e) {
                var file = fileInput.files[0];
                var textType = /text.*/;

                if (file.type.match(textType)) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        fileDisplayArea.innerText = reader.result;
                    }

                    reader.readAsText(file);
                } else {
                    fileDisplayArea.innerText = "File not supported!"
                }
            });
        }

        function toSave(texts) {
            var val_text = $('#myfile').val();

            $.ajax({
                type: 'POST',
                url: "/words",
                data: {
                    'write_text': texts

                },
                dataType: "json"
            })
        }
        /**
 * Returns the text from a HTML string
 * 
 * @param {html} String The html string
 */
        function stripHtml(html) {
            // Create a new div element
            var temporalDivElement = document.createElement("div");
            // Set the HTML content with the providen
            temporalDivElement.innerHTML = html;
            // Retrieve the text property of the element (cross-browser support)
            return temporalDivElement.textContent || temporalDivElement.innerText || "";
        }

        function posting(texts) {
            // let texts = $('#fileDisplayArea').val();
            $.ajax({
                type: "POST", // POST 방식으로 요청하겠다.
                url: "/words", // /words라는 url에 요청하겠다.
                data: { 'write_text': texts }, // 데이터를 주는 방법
                success: function (response) { // 성공하면
                    if (response['result'] == 'success') {
                        response['result']
                    }
                }
            })
        }

        function saving(texts) {
            // 1. bring the text
            // let texts = $('#fileDisplayArea').val();

            // 2. 입력하지 않았을 경우 alert를 띄웁니다.
            if (texts == '') {
                alert('text을 입력해주세요');
                $('#fileDisplayArea').focus();
                return;
            }

            // 3. POST /texts 에 저장을 요청합니다.
            $.ajax({
                type: "POST",
                url: "/reviews",
                data: { 'write_text': texts },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        $('#fileDisplayArea').val('');
                        window.location.reload();
                    }
                }
            })
        }

        function listing(texts) {
            // let texts = $('#fileDisplayArea').val();
            $.ajax({
                type: "GET",
                url: "/words",
                data: { write_text: texts },
                success: function (response) {
                    if (response['result'] == 'success') {
                        document.getElementById("myfile").value;
                        let texts = response['texts']
                        function reqListener() {
                            let texts = console.log(this.responseText);

                        }

                        var oReq = new XMLHttpRequest();
                        oReq.addEventListener("load", reqListener);
                        oReq.open("GET", "/words");
                        oReq.send();

                    }
                }
            })
        }
    </script>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Stylish', sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
            position: fixed;
            top: 25%;
            bottom: 25%;
            left: 10%;
            right: 10%;
        }

        .jumbotron {
            color: black;
            font-weight: bold;
            text-align: center;
        }

        .text_1 {
            color: blue;
        }
    </style>

</head>

<body>
    <div class="wrap">
        <div class="jumbotron">
            <h1 class="display-4">Word Analyzer</h1>
            <p class="lead">Find out the trend in your word uses on your document!</p>
            <hr class="my-4">
            <p class="lead">
                <label class="text_1" for="myfile">Start your analysis: </label>
                <input type="file" onchange="readFile(this)" id="myfile" name="myfile">
                <pre id="fileDisplayArea"><pre>
            </p>
        </div>
    </div>
</body>

</html>